body{
  font-family: 'Roboto', sans-serif;
}

[class*="col-"] {
  /* border: 1px solid black; */
}
/* General */
i {
  margin-left: 5px;
}

/* Header */
header{
  background-color: white;
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
}
header ul{
  height: 35px;
}
header ul li a{
  color: black;
  line-height: 45px;
}
/* header ul li i{
  margin-left: 5px;
} */
header ul li a.btn{
  line-height: normal;
  background-color: white;
  color: #016AFF;
  border: 1px solid #016AFF;

}
header img{
  height: 25px;
  margin: 10px 0px;
}
header .menu{
  height: 45px;
}
header .menu i{
  line-height: 45px;
}


/* Main */

/* Prima Sezione */
.prima-sezione{
  background-image: url("../img/sfondo-header.svg");
  background-size: cover;
  background-position: center;
}
.prima-sezione .contenuto,
.prima-sezione .contenitore-finestra-login{
  padding: 200px 0px;
}
.prima-sezione .contenuto h1{
  color: white;
  font-size: 50px;
  font-weight: bolder;
  width: 85%;
  margin-left: 25px;
  margin-top: 30px;
}
.prima-sezione .contenuto p{
  color: lightgrey;
  font-size: 20px;
  line-height: 25px;
  width: 85%;
  margin-left: 25px;
}

.prima-sezione .finestra-login {
  background-color: white;
  height: 300px;
  width: 100%;
  border-radius: 5px;
}
.prima-sezione .finestra-login h3{
  font-size: 30px;
  width: 90%;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 10px;
  line-height: 40px;
}
.prima-sezione .finestra-login h3 span{
  color: #016AFF;
}
.prima-sezione .finestra-login input{
  width: 90%;
  margin: 5px 0px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 5px;
}
.prima-sezione .finestra-login input.crea-account{
  color: white;
  background-color: #016AFF;
  border: 1px solid #016AFF;
}
.prima-sezione .finestra-login input.login-google{
  color: black;
  background-color: white;
  box-shadow: 1px 1px lightgrey;
}

/* Seconda Sezione */
.seconda-sezione{
  background-color: #F2F5F9;
}
.seconda-sezione h5{
  font-size: 20px;
  text-transform: uppercase;
  color: grey;
  line-height: 100px;
}
.seconda-sezione img{
  height: 100px;
  width: 100%;
  object-fit: contain;
}
.seconda-sezione .row a{
  color: #016AFF;
  line-height: 100px;
}

/* Terza Sezione */
.terza-sezione .prima-riga h3{
  margin: 50px 0px 15px 0px;
  color: black;
}
.terza-sezione .prima-riga p{
  width: 80%;
  margin: 10px auto;

}
.terza-sezione .seconda-riga ul{
  margin: 30px 0px;
}
.terza-sezione .seconda-riga ul li{
  list-style: none;
  border-left: 2px solid grey;
  padding: 5px 10px;
}
.terza-sezione .seconda-riga ul li a{
  text-decoration: none;
  color: grey;
  font-size: 20px;
}
.terza-sezione .seconda-riga img{
  margin: 30px 0px 0px 0px;
}
.terza-sezione .seconda-riga p{
  width: 90%;
  color: grey;
}

/* Quarta Sezione */
.quarta-sezione{
  background-color: #F2F5F9;
}
.quarta-sezione h3{
  margin: 50px 0px 15px 0px;
  font-size: 35px;
  font-weight: bold;
}
.quarta-sezione p{
  margin: 15px 0px 50px 0px;
  font-size: 20px;
  color: grey;
}
.quarta-sezione img{
  width: 100%;
  object-fit: contain;
}
.quarta-sezione i{
  line-height: 359px;
}
.quarta-sezione h5{
  padding-top: 5px;
  padding-bottom: 50px;
}

/* Quinta Sezione */
.quinta-sezione{
  margin-bottom: 100px;
}
.quinta-sezione h3{
  font-size: 30px;
  padding-top: 40px;
  padding-bottom: 30px;
}
.quinta-sezione img{
  margin-top: 10px;
}
.quinta-sezione h4{
  color: black;
  font-weight: bold;
  padding: 10px 0px;
}
.quinta-sezione p{
  color: grey;
}
.quinta-sezione a{
  font-size: 15px;
  color: #016AFF;
}

/* Sesta Sezione */
.sesta-sezione{
  background-image: url("../img/bg-map.svg");
  background-color: blue;
  padding-bottom: 150px;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #031B4E;
}
.sesta-sezione .contenitore{
  width: 95%;
  margin: auto;
}
.sesta-sezione .contenitore:not(:last-child){
  border-bottom: 1px solid grey;
}
.sesta-sezione h2{
  color: white;
  font-size: 40px;
  padding-top: 75px;
  width: 75%;
  margin: auto;
}
.sesta-sezione p{
  width: 70%;
  margin: auto;
  color: white;
  font-size: 20px;
  margin-top: 25px;
  margin-bottom: 75px;
}
.sesta-sezione h5{
  color: white;
}
.sesta-sezione h6{
  color: grey;
  margin-left: 30px;
}
.sesta-sezione a{
  color: #00d7d2;
}
.sesta-sezione h5,
.sesta-sezione h6{
  height: 20px;
  line-height: 20px;
}
.sesta-sezione a{
  display: inline-block;
  height: 40px;
  line-height: 40px;
}

/* Settima Sezione */
.settima-sezione{
  background-color: #F2F5F9;
  padding-bottom: 100px;
}
.settima-sezione .prima-riga h3{
  padding-top: 50px;
  padding-bottom: 10px;
  font-size: 35px;
  font-weight: bold;
  color: #031B4E;
}
.settima-sezione .prima-riga p:not(a){
  color: #223764;
  font-size: 20px;
  font-weight: 300;
  width: 70%;
  margin: auto;
  padding-bottom: 45px;
}
.settima-sezione .prima-riga p a{
  font-weight: 400;
}
.settima-sezione .colonna-centrale{
  background-color: white;
}
.settima-sezione .colonna-centrale img{
  padding-top: 50px;
  padding-bottom: 30px;
  width: 30%;
}
.settima-sezione .colonna-centrale p{
  color: #223764;
  font-size: 20px;
  width: 80%;
  margin: auto;
}
.settima-sezione .colonna-centrale i{
  margin-right: 5px;
  color: lightgrey;
}
.settima-sezione .colonna-centrale a{
  display: inline-block;
  padding: 15px 0px;
}
.settima-sezione .colonna-centrale h4{
  color: grey;
  font-weight: 400;
}
.settima-sezione .colonna-centrale h6{
  color: lightgrey;
  font-weight: 300;
  padding-bottom: 50px;
}
.settima-sezione .colonna-sinistra i,
.settima-sezione .colonna-destra i{
  line-height: 333px;
}

/* Footer */

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .prima-sezione .finestra-login{
    height: 375px;
  }
  .quarta-sezione i{
    line-height: 399px;
  }
  .sesta-sezione .prima-tabella{
    margin-bottom: 15px;
  }
  .sesta-sezione .seconda-tabella{
    margin-top: 15px;
  }
  .settima-sezione .colonna-sinistra i,
  .settima-sezione .colonna-destra i{
    line-height: 354px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .prima-sezione .finestra-login h3{
    width: 55%;
  }
  .prima-sezione .contenuto{
    padding-top: 150px;
    padding-bottom: 0px;
  }
  .prima-sezione .contenitore-finestra-login{
    padding-top: 100px;
  }
  .quarta-sezione i{
    line-height: 304px;
  }
  .sesta-sezione .prima-tabella{
    margin-bottom: 15px;
  }
  .sesta-sezione .seconda-tabella{
    margin-top: 15px;
  }
  .settima-sezione .colonna-sinistra i,
  .settima-sezione .colonna-destra i{
    line-height: 348px;
  }
}

@media screen and (max-width: 767px) {
  .prima-sezione .finestra-login h3{
    width: 55%;
  }
  .prima-sezione .contenuto{
    padding-top: 150px;
    padding-bottom: 0px;
  }
  .prima-sezione .contenitore-finestra-login{
    padding-top: 100px;
  }
  .quarta-sezione i{
    line-height: 394px;
  }
  .sesta-sezione .prima-tabella{
    margin-bottom: 15px;
  }
  .sesta-sezione .seconda-tabella{
    margin-top: 15px;
  }
  .settima-sezione .colonna-sinistra i,
  .settima-sezione .colonna-destra i{
    line-height: 354px;
  }
}
